body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
    line-height: 40px;
}
h3 {
    padding-bottom: 10px;
    font-size: 20px;
    padding-top: 40px;
}

p {
    line-height: 25px;
    padding-bottom: 20px;
}
.h1-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 76%;
}
.link-button{
    text-decoration: none; 
    background-image: linear-gradient(#e49e8f, rgb(211, 78, 54));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
#web-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#full-stack-exp{
    border-left: 7px solid;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}